$primarycolor: #000929;
$black: #000;
$black2: #1e1e1e;
$black3: #050810;
$black4: #1a1a1a;
$black5: #4d5461;
$black6: #3b3c4a;
$navy3: #000929;
$gray: #d6d6d6;
$white: #fff;
$white2: #fff8f6;
$dark_navy: #181a2a;
$light_navy: #696a75;
$borderlight: #dcdddf;
$light_cyan: #97989f;
$light_cyan2: #7065f0;
$blue: #1241b3;
$light_cyan3: #737579;
$light_grey: #f7f7fd;
$green: #1f4b43;
$yellow: #e7c873;
$white3: #f9f5ff;
$red :red;
