$primarycolor: #000929;
$black : #000;
$black2 :  #1E1E1E;
$black3: #050810;

$white : #fff;
$dark_navy: #181A2A;
$light_navy: #696A75;
$borderlight: #DCDDDF;
$light_cyan :#97989F;
$light_cyan2 : #7065F0;
$blue: #1241B3;
$light_cyan3: #737579;





