@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import '../../styling/base/varibles.scss';
@import '../../styling/base/mixins.scss';
@import '../../helper/helper.scss';


footer {
    .footer-top {
        padding: 62px 0 70px 0;
        background: linear-gradient(164.6deg, #9991F4 -16.94%, rgba(224, 222, 247, 0) 124.1%);

        .aboutarea {
            h6 {
                color: $dark_navy;
                padding-bottom: 3px;
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
                text-align: left;
            }

            .content {
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                color: $light_navy;
                padding-bottom: 14px;
            }

            .address {
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                text-align: left;
                color: $dark_navy;

                span {
                    font-weight: 600;
                }
            }
        }

        .footer_social {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 60px;

            h6 {
                color: $dark_navy;
                padding-bottom: 3px;
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 16px;
                font-weight: 700;
                line-height: 28px;
            }

            ul {
                padding: 0;
                margin: 0;

                li {
                    padding-top: 5px;
                    font-family: "Plus Jakarta Sans", system-ui;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }

        .form_area {
            border-radius: 6px;
            background-color: $white;
            padding: 30px;

            h4 {
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
                padding-bottom: 8px;
                color: $dark_navy;
            }

            p {
                font-family: "Plus Jakarta Sans", system-ui;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                color: $light_navy;
                padding-bottom: 17px;
            }

            .form-group {
                position: relative;
                padding: 7px;
                border: 1px solid $borderlight;
                border-radius: 6px;
                margin-bottom: 12px;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    padding-right: 32px;
                    color: $light_cyan;

                    &::placeholder {
                        color: $light_cyan;
                    }
                }
                svg {
                    position: absolute;
                    top: 10px;
                    width: 29px;
                    right: 0;
                    padding-right: 10px;
                    color: $light_cyan;
                }
            }

            .btn_subscribe {
                background: linear-gradient(90deg, #7E81E7 -12.81%, #0F40B2 100%);
                color: $white;
                text-align: center;
                padding: 9px 0;
                border-radius: 6px;
            }
        }
    }

    .footer-bottom {
        background: linear-gradient(90deg, #9890F3 0%, #093DAF 100%);
        padding: 28px 0;
        .footer-bootom-area {
            .left {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 134px;
                    height: 40px;

                    img {
                        @include img;
                    }
                }

                .address {
                    font-family: "Plus Jakarta Sans", system-ui;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    text-align: right;
                    color: $white;
                }
            }
            .right {
                ul {
                    padding: 0;
                    margin: 0;
                    text-align: end;
                    li {
                        display: inline-block;
                        font-family: "Plus Jakarta Sans", system-ui;
                        padding-top: 7px;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 24px;
                        color: $white;
                        padding-right: 10px;
                         &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}